/*------------------------------------*\
  #Sizes
\*------------------------------------*/
$small: 15px;
$medium: 30px;

/*------------------------------------*\
  #Colors
\*------------------------------------*/
$white: #fff;
$black: #000;
$yellow:#f4e597;
$green:#3c763d;
$blue: #337ab7;
$grey: #ddd;
$red: #ff0000;
$green-light:#dff0d8;
$blue-light: #d9edf7;
$red-light:#a94442;
$grey-dark:#c3c8ce;
$grey-light: #eee;

/*------------------------------------*\
  #Paths
\*------------------------------------*/
$fa-font-path: "~font-awesome/fonts";
